.image{
    width: 600px;
    height: 600px;
}

.text-content{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.navbar-brand{
    padding-left: 15px;
}
.admin-login{
    margin-right: 15px;
}

.Logo-bar{
    border-radius: 100%;
}

@media only screen and (max-width: 600px) {
    .image {
        width: 300px;
        height: 300px;
        margin-top: 25px;
    }
  }